
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/rogus.js"></script>

<h2>Carrinho</h2>
<table>
    <tbody>
        <tr class="produto">
            <td>
                <div class="price" id="total">R$ 29,90</div>
            </td>
            <td>
                <input type="number" class="quantity form-control">
            </td>
        </tr>
        <!-- um produto de 59,90 -->
        <!-- um produto de 99,90 -->
    </tbody>
    <tr>
        <td></td>
        <td>Total da compra</td>
        <td><div>R$ 29,90</div></td>
        <td></td>
    </tr>
</table>

<p class="par">Primeira linha</p>
<p class="impar">Segunda linha</p>
<input type="text" id="texto" class="par" value="um texto qualquer">


@*<script type="text/javascript">
    var total = document.getElementById('total');
    alert(total.innerHTML);

    function MoneyTextToFloat(text) {
        var cleanText = text.replace("R$", "").replace(",", ".");
        return parseFloat(cleanText);
    };

    function floatToMoneyText(value) {
        var text = (value < 1 ? "0" : "") + Math.floor(value * 100);
        text = "R$" + text;
        return text.substr(0, text.length - 2) + "," + text.substr(-2);
    };

    function ReadTotal() {
        var total = document.getElementById('total');
        return moneyTextToFloat(total.innerHTML);
    };

    function writeTotal(value) {
        var total = document.getElementById('total');
        total.innerHTML = floatToMoneyText(value);
    };

</script>*@

